<p id="notice"><%= notice %></p>

<h1>Listing Dataobjs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dataobjs.each do |dataobj| %>
      <tr>
        <td><%= dataobj.name %></td>
        <td><%= dataobj.description %></td>
        <td><%= link_to 'Show', dataobj %></td>
        <td><%= link_to 'Edit', edit_dataobj_path(dataobj) %></td>
        <td><%= link_to 'Destroy', dataobj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataobj', new_dataobj_path %>
